.carousel-control {
    width: 45px;
    height: 45px;
    line-height: 55px;
    border-radius: 45px;
    background: transparent;
    cursor: pointer;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

#prev-cover {
    position: absolute;
    top: 48%;
    left: 8px;
}

#next-cover {
    position: absolute;
    top: 48%;
    right: 8px;;
}

#prev-cover i {
    margin-right: 3px;
}

#next-cover i {
    margin-left: 3px;
}

.carousel-control:hover {
    background-color: rgba(0, 0, 0, .4);
}

.carousel-control i {
    color: #fff;
    font-size: 2.4rem;
}


* add by self 
.box {
  width: 700px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('http://k21vin.gitee.io/front-end-data-visualization/assets/bg01.13dfb262.jpg');
  background-size: 100%;
  background-position: center;
}

.frosted__glass {
  width: 80%;
  height: 40%;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  letter-spacing: 0.5em;
  backdrop-filter: blur(20px);
  color: #fff;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, .3);
}
